<%- include('includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<div class="navbar-header">
		<a href="/"><img class="imglogo" src="imagens/logo_fatec.png"></a>
	</div>
	<div class="content">
		<% if(!result) { %>
			<main class="main-description">
				<div class="titulo">
					<h1> Qual curso mais combina com você? </h1>
					</div>
					
					<div class="descrição">
						Você gosta de programação?, você quer entrar na Fatec mas não consegue se decidir entre 
						<strong>Análise e Desenvolvimento de Sistemas</strong> e <strong>Sistemas para Internet</strong>?. <br>
						<button type="button" id="alerta" class="btn" data-toggle="modal" data-target="#modalExemplo">
							Faça o teste e descubra !
						  </button>
				
					</div>
			</main>
		  <!-- Modal -->
		  <form method="POST" action="/">
		  <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">Dados do usuario</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="nome">Nome: </label>
						<input type="nome" class="form-control" id="nome" name="name" placeholder="Nome Completo">
					  </div>
					  <div class="form-group">
						<label for="idade">Idade:</label>
						<input type="number" name="age" class="form-control" id="idade" placeholder="">
					  </div>
					  <fieldset class="form-group">
						  <legend class="col-form-label">Sexo:</legend>
					  <div class="form-check">
						<input class="form-check-input" type="radio" name="sex" value="masc" id="masc">
						<label class="form-check-label" for="masc">
						  Masculino
						</label>
					  </div>
					  <div class="form-check">
						<input class="form-check-input" type="radio" name="sex" value="fem" id="fem">
						<label class="form-check-label" for="fem">
						  Feminino
						</label>
					  </div>
					</fieldset>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				  <button type="submit" class="btn">Enviar</button>
				</div>
			  </div>
			</div>
		  </div>
		</form>
			<% } else { %>
				<div class="main-description result">
					<h1>Parabens!, você concluiu o quizz</h1>
		
					<p><%-result.resultQuizz %></p>
					
					<% if(result.curso === 'Análise e Desenvolvimento de Sistemas') { %>
						<h2><%=result.curso%></h2> 
						<p> O Tecnólogo em Análise e Desenvolvimento de Sistemas analisa, projeta, documenta, 
							especifica, testa, implanta e mantém sistemas computacionais de informação. 
							Esse profissional trabalha, também, com ferramentas computacionais, equipamentos de informática 
							e metodologia de projetos na produção de sistemas. Raciocínio lógico, emprego de linguagens de 
							programação e de metodologias de construção de projetos, preocupação com a qualidade, usabilidade, 
							robustez, 
							integridade e segurança de programas computacionais são fundamentais à atuação desse profissional.
						</p>
					<% } else { %>
						<h2><%=result.curso%></h2> 
						<p>
							O tecnólogo formado neste curso ocupa-se do desenvolvimento de programas, 
							de interfaces e aplicativos, do comércio e do marketing eletrônicos, 
							além de sítios e portais para internet e intranet. Gerencia projetos de sistemas, 
							inclusive com acesso a banco de dados, desenvolvendo projetos de aplicações para a rede mundial 
							de computadores e integra mídias nos sítios da internet. Atua com tecnologias emergentes como 
							computação móvel, redes sem fio e sistemas distribuídos. Cuidar da implantação, atualização, 
							manutenção e segurança dos sistemas para internet também são suas atribuições.
						</p>
				</div>
				<% }%>
			<% } %>		
	</div>


<%- include('includes/end.ejs') %> 