<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/quizz.css">

</head>

<body>
    <div class="navbar-header">
		<img class="imglogo" src="imagens/logo_fatec.png">
    </div>
        <h1>Questionario Fatec</h1> 
    <form id="form" method="POST" action="/quizz">
        <div id="context">
            <% questionary.map((question, index) => { %>
                <h1><%=question.title%></h1>
                <% question.answers.map((answer) => { %>
                        <input type="radio" value="<%=answer.course %>" id="<%=answer.course %>" name="question_<%=index%>">
                        <label for="<%=answer.course %>"><%=answer.answer_text %></label>
                    <% }) %>    
            <% }) %>
        </div>
        <input id="submit" type="submit" value="Ver Resultado">
    </form>


<%- include('includes/end.ejs') %>
